* {
margin: 0;
padding: 0;
box-sizing: border-box;
font-family: "Poppins" ,sans-serif;

}

header{
	position: relative;
	left: 0;
	top: 0;
	width: 1005;
	height: 80px;
}
header h4{
	position: absolute;
	position: center;
	left: 10%;
	bottom: 1rem;
	font-size: 1.6rem;
}

.intro{
	position: fixed;
	z-index: 1;
	left: 0;
	top: 0;
	width: 100%;
	height: 100vh;
	background-color: #161616;
	transition: 1s;
}

.logo-header {
	position: absolute;
	top:40%;
	left:50%;
	transform: translate(-50%,-50%);
	color: #ffffff;
}

.logo {
	position: relative;
	display: inline-block;
	bottom: -20px;
    opacity: 0;
}
.logo.active{
	bottom: 0;
	opacity: 1;
	transition: ease-in-out 0.5s;
}

.logo.fade{
	bottom: 150px;
	opacity: 0;
	transition: ease-in-out 0.5s;
}
.loginbox{

	width: 320px;
	height: 500px;
	background: #fff;
	color: #000;
	top:-300%;
	left:70%;
	position: absolute;
	transform: translate(-50%,-50%);
	box-sizing: border-box;
}
.txt{
	margin: 0;
	padding: 0 0 20px;
	text-align: center;
	font-size: 50px;
	margin-top: 30%;

}
.button{
  background-color: #4CAF50; /* Green */
  
}
.bg-img{
	padding: 20em;
	background-image: url(https://www.atsi.in/images//inner/emp-payroll.png);
	background-repeat: no-repeat;
	background-position: top left;
	background-size: 50%;
}








